@(project: Project, workStepForm: Form[WorkStep], request: RequestHeader)

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@main("Project Overview") {

<h1>Add WorkStep to @project.label (id: @project.id)</h1>

@form(routes.Application.addWorkStepToProject(project.id)) {


@inputText(workStepForm("header"))
@inputText(workStepForm("description"))
@inputText(workStepForm("progress"))
@inputText(workStepForm("pictures"))

<input type="hidden" name="referer" value="@request.headers("referer")"/>
<input type="submit" value="Add">

}

@form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {

    <input type="file" name="picture">
        <p>
        <input type="submit">
        </p>

}

    <form action="@request.headers("referer")">
        <input type="submit" name="back" value="Back">
    </form>
}