@(projects: List[Project], projectForm: Form[Project])

@import helper._

@main("Project Overview") {

<h1>@projects.size projects(s)</h1>

    @projects.map { project =>
    <div class="projectsIndex">
        <div class="header">
            <div class="name"><a href="@routes.Application.projectDetails(project.id)">@project.label</a></div>

            <div class="todos">(@Project.getTodoCount(project.id))</div>
        </div>
        <div><hr/></div>
        <div class="progressBar">
            <span style="width: @Project.getProgressSum(project.id).toString()%">
                @Project.getProgressSum(project.id).toString()%
            </span>
        </div>


        <div class="bonusBar">
            <table>
            <tr>
                <td class="categories"><div>@project.categories</div></td>
                <td class="tags"><div>@project.tags</div></td>
                <td class="contributors"><div>@project.contributors</div></td>
            </tr>
            </table>
        </div>

    </div>
    }

<h2>Manage projects</h2>

@form(routes.Application.manageProjects) {

<input type="submit" value="Manage">

}

}